version: "3.8"

services:
  backend:
    build: ./backend
    container_name: vueimplemnet-backend
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    container_name: vueimplemnet-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
